<p>
  <b>Name:</b>
  <%=h @blog.name %>
</p>



<!-- #START:link_registrations -->
<p>
  <%= link_to 'Posts', 
              blog_posts_path(@blog) %>
</p>
<!-- #END:link_registrations -->

<!-- #START:register -->
<%= link_to 'New Post', new_blog_post_path(@blog) %>
<!-- #END:register -->
|
<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
